<ul class="nav nav-tabs navbar-expand-lg bg-primary" data-bs-theme="dark" role="tablist" >
    <li class="nav-item" role="presentation">
      <a class="nav-link active text-secondary" data-bs-toggle="tab" routerLink="accueil" aria-selected="true" role="tab">Accueil</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link text-secondary" data-bs-toggle="tab" routerLink="connection" aria-selected="false" tabindex="-1" role="tab">Profil</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link text-secondary " routerLink="spotify" aria-selected="false" tabindex="-1" role="tab">PlayList</a>
    </li>
  </ul>
  
